################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/data
/regular-fundus-training
/pimg.png
/predictImg.png
/testhilditch.py
/数据.zip
/1_l1.jpg
/.vs
/__pycache__
